<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="tI_D58P6kUN-eLqS3owT9LtSMqKQXqui5o_0QPVfbeA" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/home.css">

    <title>Yerragudi Chakradhar Reddy</title>
  </head>
  <body>
    
    <nav id="mainNavbar" class="navbar navbar-dark fixed-top navbar-expand-md">
        <div class="container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="mynav">
          <ul class="navbar-nav  mr-auto ml-auto">
            
            <li class="nav-item ">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
          </ul>
          </div>
        </div>
      </nav>
      <div id="over" class="">
        <img src="./stars.jpg" alt="stars">
            <div class="twtext">
         <strong> <span id="typewriter" class="hello"></span>
          <span class='type-cursor'>|</span></strong>

        
     
        </div>
      </div>
      <div id="about" class="jumbotron about d-flex">
          <div class="container">
        <div class="row align-items-center">
            <div class="about-content col-sm-6">
                <h1 class="about-header">About</h1>
                <p class="about-matter">Hello, My name is Chakradhar and I live in Hyderabad.I'm an undergraduate Information Technology student in Manipal Institute Of Technology, Karnataka.I love coding,watching cricket,anime and learning new technologies.I am interested in web development and competitive programming.</p>
      
              </div> 
              <div class="about-image col-sm-6 mt-4 mt-sm-0"><img " class="rounded mx-auto d-block"  src="./chakri.jpeg" alt="st"/> </div>
        </div>
      </div>

      </div>
      <div id="skills" class="jumbotron skills">

          <h1 class="skills-header">Skills</h1>
          <h2>Industry Knowledge</h2>

          <p>->Web development<-</p>
          <h2>Tools and Technologies</h2>
          <h3>[Front End Web dev]</h3>
          <p>->Html,Css,Javascript<-</p>
          <p>->Bootstrap,jQuery<-</p>
          <h3>[Back End Web dev]</h3>
          <p>->Node.js,Express.js,MongoDb<-</p>
          <p>->Mongoose,passport.js<-</p>
          <h3>[Other]</h3>
          <p>->C,C++,Python<-</p>
          <p>->Git,Linux<-</p>
        </div>

      <div id="portfolio" class="Portflio">
        <h1 class="portfolio-header">Portfolio</h1>
        <div class="container">
        <div class="row justify-content-around align-items-center">
        <div class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src="./chakricamp.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ChakriCamp</h5>
              <div class="dropup">
                  <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   About
                  </button>
                  <div class="dropdown-menu rounded" aria-labelledby="dropdownMenuButton">
                      <p class="drop-text">Final project in web dev boot camp by colt steele.Used html5,css3,js,bootstrap4,nodejs,expressjs, mongodb,passportjs.Renamed from yelpcamp to chakricamp.

                        </p>
                  </div>
                </div>
              
              <a href="https://chakricamp.herokuapp.com/" class="btn btn-sm btn-primary">View Project</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
              <img class="card-img-top" src="./color-game.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Color Game</h5>
                <div class="dropup">
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     About
                    </button>
                    <div class="dropdown-menu rounded" aria-labelledby="dropdownMenuButton">
                        <p class="drop-text">Coloring game where you have to guess the color according to the RGB values.Used Html,Css and Javascript.
  
                          </p>
                    </div>
                  </div>
                
                <a href="/color-game" class="btn btn-sm btn-primary">View Project</a>
              </div>
            </div>
          </div>
          </div>
      </div>
      <div id="contact">
        <h1>Contact</h1>
        <p>Message me at chakradharvasurama@gmail.com</p>
        <p>I am also available on</p>
        <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/yerragudi-chakradhar-reddy-a18a28166/"><img src="linkedIn.png" alt="linkedIn"/></a>
        <a href="https://www.facebook.com/chakradharreddy.yerragudi"><img src="fb.png" alt="fb"/></a>
        <a href="https://twitter.com/chakradharyoyo"><img src="twitter.png" alt="twitter"/></a>
        <a href="https://www.instagram.com/ychakradharredy/"><img src="insta.png" alt="insta"/></a>
      </div>


      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div>
        <footer class="footer">
            <div class="container">
              <p class="muted">&copy; Chakradhar 2019 | All rights reserved</p>
            </div>
          </footer>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/home.js"></script>
  </body>
</html>
